<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapptest20190705112519.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3d965f36-85ba-4509-889a-48a30b540782/resourcegroups/aks-ha/providers/Microsoft.Web/sites/FunctionAppTest20190705112519</ResourceId>
    <UserName>$FunctionAppTest20190705112519</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionapptest20190705112519.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>